@using Abstodo.Entities.Concrete
@{
    ViewData["Title"] = "Home Page";
    @model List<TaskModel> // Adjust the namespace accordingly
    TaskModel asd = new TaskModel();
}
@section EditModal
{
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Testing Modal
                    <form method="post" asp-action="Update">
                        <!-- Assuming you have a Create action in your controller -->

                        <div class="form-floating mb-3 mt-3">
                            <input asp-for="@asd.Description" class="form-control" style="margin-top:5px!important" placeholder="Enter Description">
                            <label class="text-black" asp-for="@asd.Description">Description</label>
                        </div>

                        <div class="row">
                            <div class="mt-2 mb-2 col">
                                <label asp-for="@asd.PriorityID" class="text-white">Priority</label>
                                <select asp-for="@asd.PriorityID" class="form-control" style="margin-top:5px!important" placeholder="Enter Priority">
                                    <option value="1">Low</option>
                                    <option value="2">Medium</option>
                                    <option value="2">High</option>
                                </select>
                            </div>

                            <div class="mt-2 mb-2 col">
                                <label asp-for="@asd.DueDate" class="text-white">Due Date</label>
                                <input asp-for="@asd.DueDate" type="date" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="mt-2 mb-2 col">
                                <label asp-for="@asd.ProjectID" class="text-white">Project</label>
                                <select asp-for="@asd.ProjectID" class="form-control" style="margin-top:5px!important" placeholder="Enter Project">
                                    <option value="1">Abstodo</option>
                                    <!-- Add other project options as needed -->
                                </select>
                            </div>

                            <div class="mt-2 mb-2 col">
                                <label asp-for="@asd.StatusID" class="text-white">Status</label>
                                <select asp-for="@asd.StatusID" class="form-control" style="margin-top:5px!important" placeholder="Enter Status">
                                    <option value="1">To Do</option>
                                    <option value="2">In Progress</option>
                                    <option value="3">Done</option>
                                    <option value="4">Removed</option>
                                    <!-- Add other status options as needed -->
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2 mb-2">Update</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Edit Modal -->
}
@section DeleteModal
{
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Task Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure about that?
                    <span id="taskIdInput"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="confirmDeleteButton" data-task-id="2" class="btn btn-danger remove-task-confirmation">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Delete Confirmation Modal  -->
}


<div class="text-center pt-3 pb-2">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
         alt="Check" width="60">
    <h2 class="my-4">Task List</h2>
</div>

<table class="table text-white mb-0 rounded">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {

            <tr class="fw-normal">

                <th>
                    @* <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="avatar 1" style="width: 45px; height: auto;"> *@
                    <span class="ms-2">@Enum.GetName(typeof(StatusEnum), @task.StatusID)</span>
                </th>
                <td class="align-middle">
                    <span>@task.Description</span>
                </td>
                <td class="align-middle">
                    <h6 class="mb-0"><span class="badge @(GetPriorityClass(@task.PriorityID))">@task.PriorityID priority</span></h6>
                </td>
                <td class="align-middle">
                    <a href="#!" class="text-decoration-none" data-mdb-toggle="tooltip" title="Done">
                        <i class="bi fs-5 ps-1 text-success bi-check2-circle"></i>
                    </a>
                    <a href="#!" class="text-decoration-none" data-mdb-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#editModal" title="Edit">
                        <i class="bi fs-5 ps-1 text-warning bi-pencil-square"></i>
                    </a>
                    @* <span class="task-id" style="display: none;" data-task-id="@task.ID">@task.ID</span> *@
                    <a href="#" class="text-decoration-none remove-task" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="@task.ID" title="Remove">
                        <i class="bi fs-5 ps-1 text-danger bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> *@



<div class="text-center text-white">
    <h1 class="display-4">Hello Da Worldo!!!</h1>

</div>

@functions {
    public string GetPriorityClass(int priorityID)
    {
        switch (priorityID)
        {
            case 3:
                return "bg-danger";
            case 2:
                return "bg-warning";
            case 1:
                return "bg-success";
            default:
                return string.Empty;
        }
    }
}

<script>
    $(document).ready(function () {
        var taskId;
        $('.remove-task').click(function () {
            taskId = $(this).data('task-id'); // Retrieve task ID
            // Store the task ID in a hidden input in the modal
        });
        $(".remove-task-confirmation").click(function (e) {
            //var taskId = $('#confirmDeleteModal').data('task-id');
            e.preventDefault(); // Prevent default action of the link
            //var taskId = $(this).data("task-id");  // Get the task ID from data attribute
            $.ajax(
                {
                    url: '@Url.Action("Remove", "Task")', // URL to the Remove action
                    type: "POST",
                    data: { taskID: taskId }, // Send task ID as data
                    success: function (response) {
                        if (response.success) {
                            alert("Task removed successfully");// Task removed successfully, update UI as needed
                            $(e.target).closest("tr").remove();// Optionally, update UI (remove task from list, etc.)
                        }
                        else {
                            alert("Error: " + response.message); // Handle removal failure
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle AJAX error
                        alert("Error: " + error);
                    }
                });
        });
    });
</script>


